DISCORD_TOKEN=your_discord_bot_token_here
SUPPORT_GUILD_ID=1039860460389941338
SUPPORT_INVITE_URL=https://discord.com/invite/92BB9zGRmS
OFFICIAL_WEBSITE_URL=https://musicbot.bybaoge.com/
DONATE_URL=https://donate.bybaoge.com/
KKBOX_CLIENT_ID=
KKBOX_CLIENT_SECRET=
KKBOX_COOKIE=
